body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-row {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 5px;
}
label {
  flex: 1;
}
form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
button {
  background-color: none;
  color: crimson;
  background-color: white;
  border: 1px solid crimson;
}
table {
  border-collapse: collapse;
}
th,
td {
  text-align: left;
  padding: 8px;
}
tr {
  border-bottom: 1px solid #ddd;
}
tr:hover {
  background-color: #d6eeee;
}
tr:nth-child(even) {
  background-color: #d6eeee;
}
